<!DOCTYPE html>
<html>
<head>
	<title>Revision Browser</title>
	<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="{{ app_key }}"></script>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<h1>Revision Browser</h1>
<div class="main">
	<div class="main-inner">
	{% if session.get('access_token') %}
		<div>Choose a file from your Dropbox.</div>
		<br>
		<div id="dbx-chooser-container"></div>
		<br>
		<div>
			<a href="{{ url_for('logout') }}">Logout</a>
		</div>

	<script type="text/javascript">
	options = {
		success: function(files) {
			window.location = "/revisions?link=" + encodeURIComponent(files[0].link);
		}
	}
	var button = Dropbox.createChooseButton(options);
	document.getElementById('dbx-chooser-container').appendChild(button);
	</script>
	{% else %}
		<a href="{{ url_for('login') }}">Login</a>
	{% endif %}
	</div>
</div>
</body>
</html>